body {
    font-family: 'Jua', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 90px;
    background: white;
    transition: width 0.3s ease;
    overflow: hidden;
    border-right: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.divider {
    width: 50px;
    height: 2px;
    background: rgba(0, 0, 0);
    margin: 10px auto;
    transition: width 0.3s ease;
}

.sidebar.open {
    width: 400px;
}

.sidebar.open .divider {
    width: 80%;
    margin-left: 0px;
}

.sidebar-content {
    width: 100%;
    padding: 10px;
    text-align: left;
}

.user-info {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 11px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid black;
    object-fit: cover;
    transition: width 0.3s, height 0.3s;
}

.sidebar.open .avatar {
    width: 100px;
    height: 100px;
}

.user-text {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.user {
    margin: 0px;
}

#days {
    color: #FBBC05;
}

.sidebar.open .user-info {
    align-items: center;
    margin-top: 4px;
    width: 60px;
}

.sidebar.open .avatar {
    width: 100px;
}

.sidebar-text {
    display: none;
}

.sidebar.open .sidebar-text {
    display: inline;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: 'Jua', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.add-plan {
    display: flex;
    margin-top: 60px;
    border: none;
    background: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.sidebar.open .add-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 12px 20px;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-family: 'Jua', sans-serif;
    font-weight: lighter;
}

.menu-btn img {
    width: 50px;
}

.sidebar-controls {
    display: flex;
    position: absolute;
    align-items: flex-start;
    left: 95px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    transition: left 0.3s ease;
    z-index: 200;
}

.sidebar.open ~ .sidebar-controls {
    left: 400px;
}

.toggle-btn {
    display: flex;
    align-items: center;
    font-family: 'Jua', sans-serif;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.toggle-btn img {
    width: 40px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    transition: width 0.3s ease;
    position: relative;
    margin-left: 0px;
    max-width: auto;
    margin-right: 610px;
}

.data-header {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    position: relative;
    width: 100%;
}

.dotted-divider {
    border: none;
    border-top: 2px dashed black;
    margin: 0px 0 30px;
    width: 100%;
}

.tabs-switcher {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    width: 100%;
    margin: 20px auto 0;
    gap: 30px;
}

.tab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 30px;
    width: 250px;
    height: 80px;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    font-weight: lighter;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
    background-color: white;
}

.tab-button.active {
    background-color: #CEB3FF;
    color: white;
}

.tab-button + .tab-button {
    margin-left: 10px;
}

#daily-content {
    display: none;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#monthly-content {
    display: none;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#all-content {
    display: none;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* plan */
.plan-progress {
    border-radius: 20px;
    margin: 0 auto;
    font-family: 'Jua', sans-serif;
}

.plan-progress h2 {
    font-weight: lighter;
    color: black;
    margin: 20px 90px 10px;
    width: 80%
}

#progressTitle {
    font-weight: lighter;
    color: black;
    margin: 20px 90px 10px;
    width: 80%;
}

.container-prog {
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    gap: 40px;
    padding: 20px;
    width: 700px;
    margin: 0 auto;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress-bar {
    width: 200px;
    height: 25px;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.progress-bar-fill {
    height: 100%;
    width: 60%;
    background: #F4A099;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.badge {
    padding: 2px 10px;
    border-radius: 6px;
    font-weight: lighter;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    border-radius: 12px;
    width: 60%;
    padding: 10px;
}

.toggle-switch {
    width: 100px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    border: black 1px solid;
    cursor: pointer;
    position: relative;
}

.toggle-switch::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 18px;
    background: black;
    border-radius: 15px;
    top: 1px;
    left: 1px;
    transition: 0.3s ease;
}

.toggle-switch.active::before {
    left: 49px;
}

/* focus */
.focus-section {
    width: 900px;
    margin: 40px 0 20px 0;
}

.focus-text {
    margin: 0 90px 10px;
    width: 80%;
}

.focus-text h2 {
    font-size: 24px;
    font-weight: lighter;
}

.focus-record {
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    margin: auto;
    font-family: 'Jua', sans-serif;
}

.focus-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.focus-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.focus-box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}

.focus-box p {
    margin: 5px 0;
}

.big-num {
    font-family: 'Jura', sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: #b1a8f2;
    -webkit-text-stroke: black 1px;
}

.highlight {
    color: #b1a8f2;
    font-weight: bold;
}

.focus-chart {
    width: 60%;
}

.chart {
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    height: 250px;
    box-sizing: border-box;
}

.chart-label {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.chart-grid {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chart-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 40px;
    height: 160px;
}

.bar-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 160px;
    justify-content: flex-end;
}

.bar-focus {
    width: 25px;
    border: 1px solid black;
    transition: height 0.3s ease;
}

.day-label {
    font-weight: lighter;
    margin-top: 5px;
    text-align: center;
}

.y-axis {
    position: absolute;
    top: 0;
    left: 40px;
    width: 2px;
    background-color: black;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 12px;
    font-weight: bold;
}

.y-mark {
    transform: translateY(30%);
}

.x-axis {
    position: absolute;
    bottom: 25px;
    left: 40px;
    height: 2px;
    width: calc(100% - 80px);
    background-color: black;
}

/* mood */
.mood-secction {
    width: 900px;
    margin: 40px 0 20px 0;
}

.mood-chart {
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px 10px 10px 0px;
    width: 80%;
    margin: auto;
    font-family: 'Jua', sans-serif;
    text-align: center;
}

.mood-text {
    margin: 0 90px 10px;
    width: 80%;
}

.mood-text h2 {
    font-size: 24px;
    font-weight: lighter;
}

.chart-area {
    position: relative;
    padding-left: 10px;
    padding-bottom: 10px;
}

.chart-area::before {
    content: '';
    position: absolute;
    top: 0;
    left: 40px;
    width: 3px;
    height: calc(100% - 43px);
    background-color: black;
}

.chart-area::after {
    content: '';
    position: absolute;
    bottom: 43px;
    left: 40px;
    width: calc(100% - 60px);
    height: 3px;
    background-color: black;
}

.bars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.star {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.bar-shape {
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: start;
    justify-content: center;
}

.bar-shape.tall {
    height: 140px;
}

.icon {
    width: 50px;
    height: 50px;
}

.value {
    font-weight: lighter;
    font-size: 18px;
    margin-top: 10px;
    width: 80px;
}

.mood-chart-daily {
    display: flex;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px 10px 10px 0px;
    width: 80%;
    height: 200px;
    margin: auto;
    font-family: 'Jua', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: end;
}

.chart-area-daily {
    position: relative;
    padding-left: 10px;
    padding-bottom: 10px;
    display: block;
    align-items: end;
}

.chart-area-daily::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 20px;
    width: 3px;
    height: calc(100% - 20px);
    background-color: black;
}

.chart-area-daily::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: calc(100% - 20px);
    height: 3px;
    background-color: black;
}

.bars-daily {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    width: 80%;
    margin: 0 50px 0 50px;
}

.bar-daily {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.bar-shape-daily {
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: start;
    justify-content: center;
    transition: height 0.4s ease;
}

.bar-shape-daily.active {
    height: 140px;
}

/* message box */
.message-box-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 610px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;
    border-left: black 2px solid;
}

.logoMain {
    display: flex;
    position: absolute;
    top: 0px;
    transition: transform 0.3s ease;
}

.logoMain img {
    width: 80px;
    height: 80px;
    margin-right: -5px;
    position: relative;
    bottom: -20px;
}

.logoMain h1 {
    align-items: flex-end;
    font-size: 30px;
    color: #CEB3FF;
    margin-top: 50px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: lighter;
}

.extra {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 10px;
}

.extra-btn {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
}

.extra-btn img {
    width: 40px;
}

.reminder-panel {
    display: none;
    position: absolute;
    top: 30px;
    right: 60px;
    width: 300px;
    height: 600px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 0 10px 0;
    font-family: 'Jua', sans-serif;
    background-color: white;
    box-sizing: border-box;
    z-index: 100;
}

.section {
    margin-bottom: 15px;
}

.section-title {
    padding: 10px;
    font-size: 14px;
    color: gray;
    border-bottom: 1px dotted gray;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 500px;
    height: 100vh;
}

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    margin-top: 40px;
    height: 100%;
}

.chatbot {
    width: 100%;
    height: 100%;
    display: block;
    justify-self: end;
}

.Block__Messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: calc(100vh - 150px - 70px);
    padding-top: 10px;
}

.Message__Element {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.Message__Element.User {
    justify-content: flex-end;
}

.Message__Element.Bot {
    justify-content: flex-start;
}

.Message {
    border: 2px solid black;
    background: white;
    border-radius: 15px;
    padding: 10px 15px;
    max-width: 500px;
    font-size: 16px;
    word-wrap: break-word;
}

.Message__Element img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid black;
    margin: 0 10px;
}

.Message__Element.Bot img {
    border: none;
    height: 60px;
    width: 60px;
}

.Message__Element.User .Message {
    margin-right: 10px;
}

.Message__Element.Bot .Message {
    margin-left: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.message-box {
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    padding-top: 150px;
    height: calc(100vh - 150px);
}

.message-box-input {
    display: flex;
    width: 100%;
}

.message-box-input input {
    flex-grow: 1;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    margin: 0 0 10px 0;
}

.send-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.send-btn img {
    width: 50px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
}

.buttons button {
    background: none;
    border-radius: 10px;
    border-color: black;
    margin-right: 7px;
    cursor: pointer;
    margin-bottom: 10px;
}

.buttons button img {
    width: 40px;
    height: auto;
}

.date-header {
    font-weight: bold;
    margin: 10px 0 5px;
}

.chat-session {
    padding: 8px 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.chat-session:hover {
    background: #f0f0f0;
}

.chat-session p {
    margin: 0;
    font-size: 16px;
}

.chat-session span {
    float: right;
    color: gray;
    font-size: 12px;
}

.delete-session-btn {
    float: right;
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
}

.delete-session-btn:hover {
    background: #cc0000;
}