<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MagicMeow Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Jua&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/m.png') }}" alt="Logo">
                agicMeow
            </div>
            <form id="login-form" action="{{ url_for('login') }}" method="POST">
                {{ form.hidden_tag() }}
                {{ form.username(class="input-field", placeholder="user name") }}
                {{ form.password(class="input-field", placeholder="password") }}
                <div class="error" id="error-message" style="color: red;">
                    {% with messages = get_flashed_messages(category_filter=['error']) %}
                        {% if messages %}
                            {{ messages[0] }}
                        {% endif %}
                    {% endwith %}
                </div>
                <a href="{{ url_for('create_account') }}" class="signup">Sign Up</a>
                <button type="submit" class="login-btn">Login</button>
                <p class="or-text">Or</p>
                <button type="button" class="google-login" onclick="window.location.href='{{ url_for('google_login') }}'">
                    <img src="{{ url_for('static', filename='images/google.png') }}" alt="Google" style="width: 30px; margin-right: 10px; margin-top: 3px;">
                    Login with Google
                </button>
            </form>
        </div>
        <div class="separator"></div>
        <div class="image-box">
            <img src="{{ url_for('static', filename='images/cats.png') }}" alt="Cute cat illustration">
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>